
#Ignore the images since they are too large
Images/*.img
Images/*.hdr

#ignore IDE files
.spyproject/
.vscode/

#ignore compiled python
*.pyc
*/__pycache__/

#ignore test file cache
.pytest_cache/

#ignore the gui image
display.gif
